@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --font-display2: "Oswald", "sans-serif";
  --color-background: #fff;
  --color-foreground: #171717;
  --color-primary: #044ed4;
  --color-secondary: #f4f8fb;
  --color-off-white: #f4f8fb;
  --color-off-gray: #e6edf8;
  --color-off-black: #232323;
  --color-light-green: #ccee59;
  --color-light-gray: #737576;
}

@layer utilities {
  .wrapper {
    width: min(98%, 1520px);
    margin-inline: auto;
  }

  .hide-scrollbar {
    scrollbar-width: none;

    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
